<%= render :partial => '/shared/flash' , :locals => {:flash => flash} %>

<div class="row">
  <div class="span6">
    <% unless @event.twitter_account.blank? %>
    <h2>&nbsp;&nbsp;&nbsp;Twitter: @otleyscience</h2>
    <div id="twitter" style="width:300px"></div>
    <% end %>
  </div>
  <div class="span10">
    <div class="row" style="background-color: #f7f7f7">
      <div class="span2">
        <div id="flip-counter" class="flip-counter"></div>
      </div>
      <div class="span4">
        <h1>Robot Maze Champions</h1>
      </div>
    </div>
    <div class="row">
      <div class="span10">
        <% unless @event.flickr_group_id.blank? %>
        <h2>Latest from flickr</h2>
        <div id="flickr"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
        //<![CDATA[
        var robotcounter;
		function updateCounter(token)
		{
		      $.ajax({
		                    method: 'get',
		                    url : '/events/'+token+'/counter',
		                    dataType : 'text',
		                    success: function (text) { robotcounter.setValue(parseInt(text)); }
		                 });
		
		}    
        $(function(){
            // Initialize a new counter
            robotcounter = new flipCounter('flip-counter', {value: <%= @count %>, digits: 4, auto: false});
        });  
        setInterval("updateCounter('<%=h @event.token %>')", 5000);
//]]>
</script>

<% unless @event.twitter_account.blank? %>
<script type="text/javascript">
$('#twitter').jTweetsAnywhere({
    username: '<%=h @event.twitter_account %>',
    count: 6,
    showTweetFeed: {
        showTimestamp: {
            refreshInterval: 15
        },
        autorefresh: {
            mode: 'auto-insert',
            interval: 60
        },
        paging: { mode: 'none' }
    }
});
</script>
<% end %>

<% unless @event.flickr_group_id.blank? %>
<script type="text/javascript">
$.getJSON("http://api.flickr.com/services/feeds/groups_pool.gne?jsoncallback=?",{id:"<%=h @event.flickr_group_id %>", format: "json" },
  function(data) {
    $.each(data.items, function(i,item){
        console.log(item)
        console.log(item.media)
            $("<img/>").attr({src : item.media.m.replace('_m.','_z.')}).appendTo("#flickr");
        if ( i == 3 ) {
            $('#flickr').coinslider({ hoverPause: false, navigation: true, width: 640, height: 400, delay: 5000 });
            return false;
        }
    });
  });
</script>
<% end %>
