<%= render :partial => '/shared/flash', :locals => {:flash => flash} %>

<div class="container">
  <div class="hero-unit">
  <h1>Navigate the Maze</h1>
  <p>Write a computer program to navigate the robot through the maze.</p>
  </div>

  <div class="row">
    <div class="span4 media-grid">
      <a href="#">
        <%= image_tag "/images/worksheet/open.jpg", :width => 170, :class=> "thumbnail" %>
      </a>
    </div>
    <div class="span12">
      <div class="row">
        <div class="span12">
          <h2>Open the editor</h2>
          <p>If you are doing this task for the first time, open the <%= link_to "program editor", new_event_attempt_url(@event) %>.</p>
          <p><%= link_to new_event_attempt_url(@event), new_event_attempt_url(@event), :class=>"btn info" %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span4 media-grid">
      <a href="#">
        <%= image_tag "/images/worksheet/program.jpg", :width => 170, :class=> "thumbnail" %>
      </a>
    </div>
    <div class="span12">
      <div class="row">
        <div class="span12">
          <h2>Type in your program</h2>
          <p>Type your program into the <code>right hand box</code> (the one with numbers down the left hand side).</p>
          <p>Each command must be on a separate line. Commands will show in green when they are correct and black when they are not.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span4 media-grid">
      <a href="#">
        <%= image_tag "/images/worksheet/run.jpg", :width => 170, :class=> "thumbnail" %>
      </a>
    </div>
    <div class="span12">
      <div class="row">
        <div class="span12">
          <h2>Run your program</h2>
          <p>Click the <code>run</code> button on the top right button panel to test your program and see what path the robot would take through the maze.</p><p>You will be able to see a simulation of the path the robot will take in the left panel.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span4 media-grid">
      <a href="#">
        <%= image_tag "/images/worksheet/save.jpg", :width => 170, :class=> "thumbnail" %>
      </a>
    </div>
    <div class="span12">
      <div class="row">
        <div class="span12">
          <h2>Save your program</h2>
          <p>When you are happy with your program, <code>enter your name</code> in the <code>Send</code> tab at the bottom of the program editor and click the <code>Submit</code> button.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span4 media-grid">
      <a href="#">
        <%= image_tag "/images/worksheet/saved.jpg", :width => 170, :class=> "thumbnail" %>
      </a>
    </div>
    <div class="span12">
      <div class="row">
        <div class="span12">
          <h2>Write down your token</h2>
          <p><code>Write down the 5 letter token</code> and <code>take it through to the Court Room</code> where you will be able to see what path you have made the robot take.</p>
        </div>
      </div>
    </div>
  </div>

  <div style="margin:20px 20px 40px 20px;">
    <h2>Commands</h2>

    <p>The commands you will need to use look like this:</p>

    <table>
      <thead>
        <tr>
          <th>Example</th>
          <th>Description of command</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>forward 5</td>
          <td>Move the robot forward by <i>5</i> units.</td>
        </tr>
        <tr>
          <td>back 5</td>
          <td>Move the robot back by <i>5</i> units.</td>
        </tr>
        <tr>
          <td>left 90</td>
          <td>Turn the robot <i>90</i> degrees to the left.</td>
        </tr>
        <tr>
          <td>right 90</td>
          <td>Turn the robot <i>90</i> degrees to the right.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row noprint">
    <div class="span4 media-grid">
      <%= link_to image_tag("/images/worksheet/worksheet-medium.jpg", :width => 170), "/worksheet.pdf" %>
    </div>
    <div class="span12">
      <div class="row">
        <div class="span12">
          <h2>The Maze</h2>
          <p>This is a plan of the maze that is found in the Court Room.</p>
          <p>The robot will begin on the <code>start square</code> and you will need to program the robot to navigate to the <code>red arrow</code>.</p>
          <p>Each <code>large square</code> on the maze plan equates to <code>1 unit</code>.</p>
          <p><%= link_to "Plan of the maze", "/worksheet.pdf", :class => "btn info" %></p>
        </div>
      </div>
    </div>
  </div>
</div>

