
<div class="container">
  <div class="hero-unit">
  <h1>Resources</h1>
  <p>If you enjoyed today, there are plenty of other ways to <code>explore computer programming in a fun way</code>. Check out our list of resources and have a bash at something at home.</p>
  </div>

  <div class="row">
    <div class="span3">
      <%= image_tag "/images/resources/codecademy.png", :width => 170, :class=> "thumbnail" %>
    </div>
    <div class="span13">
      <div class="row">
        <div class="span13">
          <h2>Codecademy</h2>
          <p>If you'd like to learn something you can use on the web, check out Code Academy - learn Javascript with your friends here with a simple interactive interface.</p>
          <p><a class="btn info" href="http://www.codecademy.com">http://www.codecademy.com</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span3">
      <%= image_tag "/images/resources/tryruby.jpeg", :width => 170, :class=> "thumbnail" %>
    </div>
    <div class="span13">
      <div class="row">
        <div class="span13">
          <h2>Try Ruby</h2>
          <p>Got 15 minutes? Give Ruby a shot right now! Ruby is a programming language from Japan (available at <a href="http://ruby-lang.org">ruby-lang.org</a>) which is revolutionising the web. The beauty of Ruby is found in its balance between simplicity and power.</p>
          <p><a class="btn info" href="http://tryruby.org">http://tryruby.org</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span3">
      <%= image_tag "/images/resources/railsforzombies.jpg", :width => 170, :class=> "thumbnail" %>
    </div>
    <div class="span13">
      <div class="row">
        <div class="span13">
          <h2>Rails for Zombies</h2>
          <p>If you liked "<a href="http://tryruby.org/">Try Ruby</a>", why not try Ruby on Rails - learn how to build applications for the web (and learn a skill you can use in industry).</p>
          <p><a class="btn info" href="http://railsforzombies.org">http://railsforzombies.org</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span3">
      <%= image_tag "/images/resources/mindstorms.jpeg", :width => 170, :class=> "thumbnail" %>
    </div>
    <div class="span13">
      <div class="row">
        <div class="span13">
          <h2>Lego Mindstorms</h2>
          <p>With LEGO MINDSTORMS you can build and program robots that do what you want! With the contents in the set you get everything you need to build and program your very own intelligent LEGO robot, and make it perform loads of different operations.
          The robot can be fitted, for example, with sensors which control motors and react to light, sound, touch, etc.</p>
          <p><a class="btn info" href="http://mindstorms.lego.com">http://mindstorms.lego.com</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span3">
      <%= image_tag "/images/resources/scratch.jpg", :width => 170, :class=> "thumbnail" %>
    </div>
    <div class="span13">
      <div class="row">
        <div class="span13">
          <h2>Scratch</h2>
          <p>Scratch is a programming language that makes it easy to create your own interactive stories, animations, games, music, and art — and share your creations on the web. As young people create and share Scratch projects, they learn important mathematical and computational ideas, while also learning to think creatively, reason systematically, and work collaboratively.</p>
          <p><a class="btn info" href="http://scratch.mit.edu">http://scratch.mit.edu</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span3">
      <%= image_tag "/images/resources/alice.jpg", :width => 170, :class=> "thumbnail" %>
    </div>
    <div class="span13">
      <div class="row">
        <div class="span13">
          <h2>Alice</h2>
          <p>Alice is an innovative 3D programming environment that makes it easy to create an animation for telling a story, playing an interactive game, or a video to share on the web. Alice is a freely available teaching tool designed to be a student's first exposure to object-oriented programming.</p>
          <p><a class="btn info" href="http://www.alice.org">http://www.alice.org</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span3">
      <%= image_tag "/images/resources/processing.png", :width => 170, :class=> "thumbnail" %>
    </div>
    <div class="span13">
      <div class="row">
        <div class="span13">
          <h2>Processing</h2>
          <p>Processing is an open source programming language and environment for people who want to create images, animations, and interactions.</p>
          <p><a class="btn info" href="http://processing.org">http://processing.org</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span3">
      <%= image_tag "/images/resources/codingforkids.png", :width => 170, :class=> "thumbnail" %>
    </div>
    <div class="span13">
      <div class="row">
        <div class="span13">
          <h2>Want more?…</h2>
          <p>Check out the new movement that is "<a href="http://codingforkids.org">Coding for Kids</a>" who are striving to find ways to support the education of programming and educational thinking for the current and next generations in the UK. They have a large list of resources <a href="http://codingforkids.org/wiki/Learning_resources_and_blogs_etc">here</a>.</p>
          <p><a class="btn info" href="http://codingforkids.org">http://codingforkids.org</a></p>
        </div>
      </div>
    </div>
  </div>
</div>