<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= javascript_include_tag "jquery.min" %>
  <%#= stylesheet_link_tag "style" %>
  <%# javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<ul class="tabs">
		<% if @event %>
		<li><%= link_to 'Worksheet', event_path(@event) unless @event.new_record? %></li>
		<li><%= link_to 'Submit Program', new_event_attempt_path(@event) unless @event.new_record? %></li>
		<li><%= link_to 'Find Program', search_event_attempts_path(@event) unless @event.new_record? %></li>
		<% end %>
		<li><%= link_to 'Resources', resources_pages_path %></li>
    </ul>
	
<%= yield %>
</div>

</body>
</html>
