<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "bootstrap" %>

  <%= javascript_include_tag "jquery.min" %>

  <%# javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <!-- My flip counter script, REQUIRED -->

  <%= javascript_include_tag "flipcounter.min" %>

  <!-- Style sheet for the counter, REQUIRED -->

  <%= stylesheet_link_tag "counter" %>

  <%= javascript_include_tag "coin-slider.min" %>
  <%= stylesheet_link_tag "coin-slider-styles" %>
</head>
<body>

<div class="container">
<%= yield %>
</div>

</body>
</html>